<!DOCTYPE html>
<html>
<head>
    <title>Stroke Model</title>
 </head>
<body>
        <h2>Welcome to Stroke prediction App</h2>
        <h3>Enter your info</h3>
        <form action = "{{ url_for('strokeclassify') }}" method="POST">
            <table border="1" style="border-color:gray; border-collapse:collapse;" cellpadding="5" cellspacing="5">
                <tr>
                    <td><h4>Age</h4> 
                    <input type="number" name="age" min="21" max="100" > </td>
                    <td><h4>Average Glucose Level</h4> 
                        <input type="number" name="avg_glucose_level" min="0" max="1000" > </td>
                    <td><h4>BMI</h4> 
                        <input type="number" name="bmi" min="0" max="1000" > </td>
                    <td><h4>Gender</h4>
                        <select name = "gender">
                            <option value="Male">Male</option>
                            <option value="Female">Female</option>                         
                        </select>
                    </td>
                </tr>   
                <tr>            
                    <td><h4>Ever married</h4>
                        <select name = "married">
                            <option value="Yes">Yes</option>
                            <option value="No">No</option>                         
                        </select>
                    </td>
                    <td><h4>Work Type</h4>
                        <select name = "work_type">
                            <option value="Govt_job">Government Job</option>
                            <option value="Never_worked">Never Worked</option>
                            <option value="Private">Private Company</option>
                            <option value="Self-employed">Self Employed</option>
                            <option value="children">Children</option>
                        </select>
                    </td>
                    <td><h4>Residence Type</h4>
                        <select name = "Residence_type">
                            <option value="Urban">Urban</option>
                            <option value="Rural">Rural</option>                  
                        </select>
                    </td>
                    <td><h4>Smoking Status</h4>
                        <select name = "smoking_status"> 
                            <option value="never smoked">Never Smoked</option>
                            <option value="Unknown">Unknown</option>
                            <option value="formerly smoked">Formerly Smoked</option>
                            <option value="smokes">Smoke</option>
                        </select>
                    </td>
                </tr>
                <tr>
                    <td><h4>Hypertension</h4>
                        <select name = "hypertension">
                            <option value="1">Yes</option> 
                            <option value="0">No</option>
                        </select>
                    </td>
                    <td><h4>Heart Desease</h4>
                        <select name = "heart_desease">
                            <option value=1>Yes</option> 
                            <option value=0>No</option>
                        </select>
                    </td>
                </tr>
            </table>
            <!-- <input type="hidden" id="forminput" name="forminput"  >    -->        
            <p><input type="submit" value="Will you have stroke?"></p>
             {% if (results) %} 
             <h3> Prediction: {{ results }}  </h3>
             {% endif %} 
        </form>
</body>
</html>